

.root {
    -fx-background-color: linear-gradient(to bottom, #DEDCDC, #C5BAC4);
    -fx-font-weight: medium;
    -fx-font-family: "Merriweather", sans-serif,"Segoe UI Semibold";
}
.context-menu {
    -fx-background-color: #57707A;
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 8px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 8, 0, 0, 3);
}

.menu-bar {
    -fx-background-color: linear-gradient( to left , rgba(114, 145, 157, 0.82), #57707A);
    -fx-font-size: 50px;

    -fx-padding: 4px;
    -fx-background-radius: 8px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.15), 8, 0, 0, 3);
}

.menu {

    -fx-font-size: 14px;
    -fx-padding: 5px 10px;
    -fx-background-color: transparent;
}

.menu:hover {
    -fx-background-color: rgba(255, 255, 255, 0.2);
    -fx-background-radius: 5px;
}

.menu-item {
    -fx-text-fill: white;
    -fx-font-size: 15px;
    -fx-padding: 6px 12px;
    -fx-background-color: #57707A;
    -fx-background-radius: 5px;
}

.menu-item:hover {
    -fx-background-color: #979DAB;
    -fx-text-fill: #191D23;
}


.button {

    -fx-background-color: #57707A;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-padding: 10px 20px;
    -fx-background-radius: 8px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 6, 0, 0, 3);
    -fx-transition: all 0.3s ease-in-out;
}

.button:hover {
    -fx-background-color: #66818d;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0, 0, 5);
}
