.form-container {
    -fx-spacing: 1;
    -fx-font-family: "Poppins", "Segoe UI", sans-serif;
}

.center-container{
    -fx-alignment: center;
}

.form-title{
    -fx-alignment: center;
    -fx-font-size: 45px;
    -fx-text-fill: #2d3748;
    -fx-font-family: "Poppins", "Segoe UI", sans-serif;
    -fx-font-weight: bold;
}

.form-label {
    -fx-font-size: 25px;
    -fx-text-fill: #4a5568;
    -fx-padding: 5px 10px;
    -fx-font-family: "Poppins", "Segoe UI", sans-serif;
    -fx-font-weight: 600;
}

.form-field {
    -fx-background-color: white;
    -fx-border-color: #e2e8f0;
    -fx-border-radius: 8px;
    -fx-padding: 8px 12px;
    -fx-font-size: 25px;
    -fx-pref-height: 35px;
    -fx-pref-width: 250px;
    -fx-font-family: "Poppins", "Segoe UI", sans-serif;
}

.form-field:focused {
    -fx-border-color: #1ab5a9;
    -fx-background-color: #ffffff;
    -fx-effect: dropshadow(gaussian, rgba(26, 181, 169, 0.2), 4, 0, 0, 0);
}

.button {
    -fx-background-color: #4b77d4;
    -fx-text-fill: white;
    -fx-font-size: 25px;
    -fx-padding: 8px 16px;
    -fx-background-radius: 8px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 4, 0, 0, 1);
    -fx-transition: all 0.3s ease-in-out;
    -fx-font-family: "Poppins", "Segoe UI", sans-serif;
    -fx-font-weight: 600;
}

.button:hover {
    -fx-background-color: rgba(74, 180, 239, 0.73);
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.15), 6, 0, 0, 2);
}

.button:pressed {
    -fx-background-color: #00a2ff;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 2, 0, 0, 0);
}